<template >
  <b-col align-v="center" class="mx-auto form_container" sm="12" lg="3" md="3">
    <b-card class="container"
      ><h3 class="text-center">Percobaan OTP</h3>
      <b-row cols="4" class="text-center" style="margin-top: 5%">
        <b-col sm="3" md="3" lg="3" v-for="(item, index) in code" :key="index"
          ><b-form-input
            class="text-center"
            :placeholder="item.toString()"
          ></b-form-input
        ></b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-button @click="verification" class="btn__verifikasi"
          >Verifikasi</b-button
        >
      </b-row>
      <hr />
      <p @click="resend_code" class="text-center send__otp">
        Kirim Ulang Kode OTP
      </p>
    </b-card>
  </b-col>
</template>
<script>
export default {
  props: {
    code: {
      type: Array,
    },
    verification: {
      type: Function,
      required: true,
    },
    resend_code: {
      type: Function,
      required: true,
    },
  },
};
</script>
<style  scoped>
.form_container {
  margin-top: 10%;
}
.btn__verifikasi {
  margin-top: 5%;
  color: white;
  background-color: #663399;
  border: none;
}
.btn__verifikasi:active,
.btn__verifikasi:hover {
  color: white;
  background-color: #9b59b6;
  border: none;
}
.send__otp {
  cursor: pointer;
}
</style>