<template >
  <b-col align-v="center" class="mx-auto form_container" sm="12" lg="3" md="3">
    <b-card class="container">
      <b-form>
        <div v-for="(item, index) in input_label" :key="index">
          <div v-if="item.label === 'Phone'">
            <VuePhoneNumberInput
              default-country-code="ID"
              v-model="item.value"
            />
            <p>{{ item.description }}</p>
          </div>
          <b-form-group
            v-else
            :label="item.label"
            :description="item.description"
          >
            <b-form-input
              required
              :type="item.type"
              v-model="item.value"
            ></b-form-input>
          </b-form-group>
        </div>
        <hr />
        <b-row>
          <b-col
            class="text-center"
            align-v="center"
            :sm="total_button > 1 ? 6 : 12"
            :md="total_button > 1 ? 6 : 12"
            :lg="total_button > 1 ? 6 : 12"
            v-for="(item, index) in button"
            :key="index"
            ><b-button
              :class="index % 2 == 0 ? 'btn__container' : ''"
              @click="handler[index]"
              variant="success"
              >{{ item }}</b-button
            ></b-col
          >
        </b-row>
      </b-form>
    </b-card>
  </b-col>
</template>
<script>
import VuePhoneNumberInput from 'vue-phone-number-input'
import 'vue-phone-number-input/dist/vue-phone-number-input.css'
export default {
  props: {
    input_label: {
      type: Array,
    },
    button: {
      type: Array,
    },
    handler: {
      type: Array,
    },
  },
  components: {
    VuePhoneNumberInput,
  },
  created() {
    this.total_button = this.$props.button.length
  },
  data() {
    return {
      total_button: 0,
    }
  },
}
</script>
<style scoped>
.form_container {
  margin-top: 10%;
}
.btn__container {
  margin-top: 5%;
  color: white;
  background-color: #663399;
  border: none;
}
.btn__container:active,
.btn__container:hover {
  color: white;
  background-color: #9b59b6;
  border: none;
}
</style>