<template >
  <b-container class="container__profile">
    <!-- Tambah Header untuk Logout-->
    <b-row cols="12">
      <!--TODO dibagian cover bisa upload gambar dan progress uploadnya lebih bagus-->
      <b-col sm="12" lg="12" md="12"
        ><b-jumbotron class="container__cover" header="Cover"> </b-jumbotron
      ></b-col>
      <b-col sm="12" lg="12" md="12">
        <b-row>
          <b-col cols="4" sm="12" md="4" lg="4">
            <b-col class="image__container" sm="12" md="5" lg="5">
              <!--TODO  difoto bisa upload foto profile dan progress uploadnya lebih bagus-->
              <b-img
                center
                height="150px"
                width="150px"
                class="user__avatar"
                rounded="circle"
                src="https://placekitten.com/300/300"
                alt="Circle image"
              ></b-img>
            </b-col>
            <b-col class="user__profile">Profile</b-col>
          </b-col>
          <b-col cols="8" sm="12" md="8" lg="8">
            <b-row>
              <b-col>
                <b-col class="user__info">Daftar Riwayat Karir</b-col>
                <b-col class="user__info">Tempat Upload Riwayat Karir</b-col>
              </b-col>
              <b-col>
                <b-col class="user__info">Daftar Riwayat Pendidikan</b-col>
                <b-col class="user__info"
                  >Tempat Upload Riwayat Pendidikan</b-col
                >
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {}
</script>
<style scoped>
.container__profile {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.image__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container__cover {
  height: 100%;
}

.user__avatar {
  z-index: 1 !important;
  position: absolute;
  margin-top: -50%;
}

.user__profile {
  color: white;
  margin-top: 30%;
  width: 100%;
  height: 51vh;
  background-color: grey;
}

.user__info {
  color: white;
  margin: 10px 0;
  width: 100%;
  height: 30vh;
  background-color: grey;
}
</style>