<template>
  <div>
    <transition mode="out-in">
      <FormComponent
        :input_label="login_label"
        :tag="'Login'"
        :button="['Registration', 'Login']"
        :handler="[registration_handler, login_handler]"
      />
    </transition>
  </div>
</template>

<script>
import FormComponent from '~/components/form/form.vue'
export default {
  components: {
    FormComponent,
  },
  data() {
    return {
      login_label: [
        {
          type: 'number',
          label: 'Phone',
          description: "We'll never share your email with anyone else.",
        },
        {
          type: 'password',
          label: 'Password',
          description: "We'll never share your Password with anyone else.",
        },
      ],
    }
  },
  methods: {
    login_handler() {
      // to Profile Page
      this.$router.push('/profile')
    },
    registration_handler() {
      // to Registration Page
      this.$router.push('/registration')
    },
  },
}
</script>

<style>
</style>
