<template >
  <div>
    <NavbarComponent :logout="logout_handler" />
    <ProfileComponent />
  </div>
</template>
<script>
import NavbarComponent from "~/components/navbar/navbar.vue";
import ProfileComponent from "~/components/profile/profile.vue";
export default {
  components: { NavbarComponent, ProfileComponent },
  methods: {
    logout_handler() {
      //TODO Logout from Apps
      this.$router.push("/");
    },
  },
};
</script>
<style scoped>
</style>