<template>
  <div>
    <transition mode="out-in">
      <FormComponent
        :input_label="login_label"
        :tag="'Registration'"
        :button="['Registration']"
        :handler="[otp_handler]"
        :phone="phone_number"
        :password="password_user"
      />
    </transition>
  </div>
</template>

<script>
import FormComponent from '~/components/form/form.vue'
export default {
  components: {
    FormComponent,
  },
  data() {
    return {
      login_label: [
        {
          type: 'number',
          label: 'Phone',
          description: "We'll never share your email with anyone else.",
          value: '',
        },
        {
          type: 'password',
          label: 'password',
          description: "We'll never share your Password with anyone else.",
          value: '',
        },
        {
          type: 'text',
          label: 'country',
          description: 'Please fill with your country.',
          value: '',
        },
      ],
      phone_number: 0,
      password_user: 0,
      location: null,
      gettingLocation: false,
      errorStr: null,
    }
  },
  methods: {
    otp_handler() {
      // Go to OTP
      this.$router.push('/verification')
    },
  },
  created() {
    if (!('geolocation' in navigator)) {
      this.errorStr = 'Geolocation is not available.'
      return
    }

    this.gettingLocation = true
    navigator.geolocation.getCurrentPosition(
      (pos) => {
        this.gettingLocation = false
        this.location = pos
      },
      (err) => {
        this.gettingLocation = false
        this.errorStr = err.message
      }
    )
  },
}
</script>

<style>
</style>
