<template >
  <div>
    <VerificationComponent
      :code="otp_code"
      :verification="verification_hanlder"
      :resend_code="resend_otp_handler"
    />
  </div>
</template>
<script>
import VerificationComponent from "~/components/verification/verification.vue";
export default {
  components: {
    VerificationComponent,
  },
  data() {
    return {
      otp_code: [1, 2, 3, 4],
    };
  },
  methods: {
    verification_hanlder() {
      //TODO send OTP if OTP success then to dashboard
      this.$router.push('/profile')

    },
    resend_otp_handler() {
      //TODO send otp code
    },
  },
};
</script>
<style scoped>
</style>